#account-dropdown {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
}

ol, ul {
    padding-left: 30px;
}

.no-border-radius {
    border-radius: 0 !important;
}

.test {
    height: 100px;
    max-height: 100px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.gutter {
    flex-shrink: 0;
    background-image: linear-gradient(to bottom, #333 15%, rgba(255, 255, 255, 0) 0%);
    background-position: center;
    background-size: 1px 10px;
    background-repeat: repeat-y;
}

.gutter-horizontal {
    cursor: ew-resize;
}

.gutter-vertical {
    cursor: ns-resize;
}
.comp {
    /*background: red;*/
    /*color: white;*/
    height: 100%;
    display: inline-block;
}
.wrap {
    display: flex;
}

.entities {
    line-height: 2;
}

[data-entity] {
    padding: 0.25em 0.35em;
    margin: 0.125em 0.25em;
    line-height: 1;
    display: inline-block;
    border-radius: 0.25em;
    border: 1px solid;
}

[data-entity]::after {
    box-sizing: border-box;
    content: attr(data-entity);
    font-size: 0.6em;
    line-height: 1;
    padding: 0.35em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0.1rem 0.5rem;
}

[data-entity][data-entity="person"] {
    background: rgb(231 255 182);
    border-color: rgb(166, 226, 45);
}

[data-entity][data-entity="person"]::after {
    background: rgb(166, 226, 45);
}

[data-entity][data-entity="org"] {
    background: rgb(209 242 255);
    border-color: rgb(67, 198, 252);
}

[data-entity][data-entity="org"]::after {
    background: rgb(67, 198, 252);
}

[data-entity][data-entity="date"] {
    background: rgb(172 232 226);
    border-color: rgb(47, 187, 171);
}

[data-entity][data-entity="date"]::after {
    background: rgb(47, 187, 171);
}

[data-entity][data-entity="v"] {
    cursor: pointer;
}

[data-entity][data-entity="v"].active-verb {
    background: #28a745;
    border-color: #1c7430;
    color: #fff;
}

.textContainer {
    scroll-behavior: smooth;
    position: relative;
    overflow: auto;
    width:100%;
    height:100%;
    padding: 0;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 20px;
    line-height: normal;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    direction: ltr;
    text-align: left;
}

.textContainer p {
    margin: 0;
    padding: 0.5rem;
}

.summary-sentence {
    cursor: pointer;
}

